# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# macOS system files
.DS_Store

# Logs and temporary files
*.log
*.tmp

# Python egg files
*.egg
*.egg-info/
dist/
build/

# IDE-specific files
.vscode/
.idea/

# Ignore .ics files
*.ics